# "1-1. ë¨¸ì‹ ëŸ¬ë‹ì„ ìœ„í•œ ì£¼ê°€ ë°ì´í„°ì…‹ ìƒì„±"
> "2022 DS&ML Stock Prediction Project | 1. Stock Prediction Part.1 - baseline model "

- toc:true
- badges: true
- comments: true
- author: ag-su
- categories: [Stock Prediction]

# 1. Stock Prediction Part.1 - baseline model  
## 1-1. ë¨¸ì‹ ëŸ¬ë‹ì„ ìœ„í•œ ì£¼ê°€ ë°ì´í„°ì…‹ ìƒì„±
ì£¼ê°€ ë°ì´í„°ì…‹ ìƒì„± ì ˆì°¨ëŠ” `df2list` - `dictionary` - `MultiProcessing` - `MySQL` ìˆœì„œë¡œ ì§„í–‰í•œë‹¤. 4ê°€ì§€ ì ˆì°¨ë¥¼ í†µí•´ ë°ì´í„°ì…‹ì´ ë‹¬ë¼ì§€ëŠ” ê²ƒì€ ì•„ë‹ˆê³ , ì†ë„ë¥¼ ê°œì„ ì‹œí‚¤ëŠ” ë°©í–¥ìœ¼ë¡œì˜ íš¨ìœ¨ì ì¸ ì½”ë“œë¥¼ ì§œê¸° ìœ„í•œ í›ˆë ¨ ê³¼ì •ì´ë‹¤. ëŒ€ê·œëª¨ ë°ì´í„°ì…‹ì„ ë‹¤ë£¨ê¸° ìœ„í•´ì„œëŠ” íš¨ìœ¨ì ì¸ ì½”ë”©ì„ í†µí•´ ì†ë„ë¥¼ ê°œì„ í•˜ëŠ” ê²ƒë„ ì¤‘ìš”í•œ ì¼ì´ë‹¤. íŠ¹íˆ ì´ë²ˆì— ì‚¬ìš©í•˜ëŠ” ì£¼ê°€ ë°ì´í„°ì…‹ì€ ì–‘ì´ ë§ì„ ë¿ë§Œ ì•„ë‹ˆë¼, `fdr` ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ ì™¸ë¶€ì—ì„œ ë¶ˆëŸ¬ì™€ì•¼í•˜ê¸° ë•Œë¬¸ì— ë°ì´í„°ì…‹ì„ êµ¬ì„±í•˜ëŠ” ê²ƒë§Œ í•´ë„ ì†ë„ê°€ ìƒë‹¹íˆ ëŠë¦¬ë‹¤. ì´ëŸ¬í•œ ë¬¸ì œì ì„ í•´ê²°í•˜ê³ ì ë³¸ í¬ìŠ¤íŒ…ì—ì„œëŠ” 4ë‹¨ê³„ì— ê±¸ì¹œ ë°ì´í„°ì…‹ ìƒì„± ê³¼ì •ì„ ë³´ì—¬ì¤€ë‹¤.  

<br>

### ë°ì´í„°ì…‹ ì •ì˜
- __`ì¡°ê±´`__: ì „ì²´ ì•½ 2000ê°œ ì¢…ëª© ì¤‘ 2018ë…„ ë¶€í„° ì¡´ì†í•˜ì˜€ë˜ ê¸°ì—… ì¤‘ ê±°ë˜ëŒ€ê¸ˆì´ 1000ì–µ ì´ìƒ ë°œìƒí•œ ë‚ ì§œ (ê±°ë˜ëŒ€ê¸ˆì€ ì¶”í›„ì— ìˆ˜ì • ê°€ëŠ¥) 
- __`column`__: __`ì¡°ê±´`__ ì—ì„œ ì„ ë³„í•œ íŠ¹ì • ë‚ ì§œë¥¼ D0ë¼ê³  í–ˆì„ ë•Œ, D-9, D-8, ..., D0, ì´ 10ì¼ ì¹˜ì˜ `Open`, `High`, `Low`, `Close`, `ê±°ë˜ëŒ€ê¸ˆ(trading_value)` 
- __`label`__:  ì¡°ê±´ì— ë¶€í•©í•˜ëŠ” íŠ¹ì • ë‚ ì§œ(D0) ëŒ€ë¹„ ë‹¤ìŒë‚ (D+1) ë‚ ì§œì˜ ì¢…ê°€(close)ê°€ 2%ì´ìƒ ìƒìŠ¹í•˜ë©´ `1`, ìƒìŠ¹í•˜ì§€ ì•Šìœ¼ë©´ `0`
- __`train dataset`__: 2018ë…„ 1ì›” 2ì¼ - 2020ë…„ 12ì›” 31ì¼ (2ë…„)
- __`test dataset`__: 2021ë…„ 1ì›” 2ì¼ ~ 2021ë…„ 6ì›” 31ì¼ (6ê°œì›”)

<br>

### ë°ì´í„°ì…‹ ìƒì„± ê³¼ì œ
ë°ì´í„°ì…‹ ìƒì„±ì„ ì´ 3ê°€ì§€ ê³¼ì œë¡œ ë‚˜ëˆ„ì–´ ì§„í–‰í•œë‹¤.
- __`ê³¼ì œ I`__: ì¢…ëª© ë¦¬ìŠ¤íŠ¸ ìƒì„±-2018ë…„ ë¶€í„° ì¡´ì†í•˜ì˜€ë˜ ê¸°ì—…(ìƒì¥ì¼ 2018ë…„ 1ì›” 1ì¼ ì´ì „ ê¸°ì—…)  ì„ ë³„
- __`ê³¼ì œ II`__: __`ê³¼ì œI`__ ì˜ ê¸°ì—… ì¤‘ ê±°ë˜ëŒ€ê¸ˆì´ 1000ì–µ ì´ìƒ ë°œìƒí–ˆë˜ íŠ¹ì • ë‚ ì§œ ì„ ë³„ (`ê±°ë˜ëŒ€ê¸ˆ`=`ê±°ë˜ëŸ‰`X`ì¢…ê°€` ë¡œ ê³„ì‚°)
- __`ê³¼ì œ III`__: __`ê³¼ì œII`__ ì˜ ë‚ ì§œì— ëŒ€í•´ ìµœì¢… ë¨¸ì‹ ëŸ¬ë‹ ë°ì´í„° ìƒì„±

<br>

### ëª©ì°¨
- __(0)__ Finance Data Readerë¥¼ ì´ìš©í•œ ì£¼ê°€ ë°ì´í„°ì…‹ - `DataFrame`
- __(1)__ Finance Data Readerë¥¼ ì´ìš©í•œ ì£¼ê°€ ë°ì´í„°ì…‹ - `df2list`
- __(2)__ Finance Data Readerë¥¼ ì´ìš©í•œ ì£¼ê°€ ë°ì´í„°ì…‹ - `dictionary`
- __(3)__ Finance Data Readerë¥¼ ì´ìš©í•œ ì£¼ê°€ ë°ì´í„°ì…‹ - `MultiProcessing`
- __(4)__ Finance Data Readerë¥¼ ì´ìš©í•œ ì£¼ê°€ ë°ì´í„°ì…‹ - `MySQL`
- __(5)__ ìµœì¢… ë¨¸ì‹ ëŸ¬ë‹ ë°ì´í„°ì…‹

### í•„ìš” ë¼ì´ë¸ŒëŸ¬ë¦¬ __import__

In [ ]:
# finance datareader ì„¤ì¹˜ 
# ! pip install -U finance-datareader

In [1]:
import pandas as pd
import os
from tqdm import tqdm
import FinanceDataReader as fdr
import time

# ê²½ê³  ë©”ì‹œì§€ ë¬´ì‹œ 
import warnings
warnings.filterwarnings(action='ignore')

## âœ”ï¸ __(0)__ Finance Data Readerë¥¼ ì´ìš©í•œ ì£¼ê°€ ë°ì´í„°ì…‹ - `DataFrame`
ì†ë„ ë¹„êµë¥¼ ìœ„í•´ ê¸°ì¡´ ë°ì´í„°ì˜ íƒ€ì…ì¸ `DataFrame`ì„ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ì…‹ì„ ìƒì„±í•œë‹¤. ì—°êµ¬ ì¸í„´ ì´ˆê¸° ì²«ë²ˆì§¸ë¡œ ì‘ì„±í–ˆë˜ ì½”ë“œë“¤ì¸ë°, ê°œì„ í•´ì•¼ í•  ë¶€ë¶„ë“¤ì´ ë§ë‹¤.

__ê³¼ì œ I__

In [54]:
df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]

# íšŒì‚¬ëª…, ì¢…ëª©ì½”ë“œ, ìƒì¥ì¼ ì»¬ëŸ¼ë§Œ ì‚¬ìš© 
df_code = df[['íšŒì‚¬ëª…', 'ì¢…ëª©ì½”ë“œ', 'ìƒì¥ì¼']]

# ì¢…ëª©ì½”ë“œë¥¼ 6ìë¦¬ë¡œ ë§ì¶° ì¤€ë‹¤. 
df_code['ì¢…ëª©ì½”ë“œ'] = df_code['ì¢…ëª©ì½”ë“œ'].apply(lambda x : str(x).zfill(6))
display(df_code.head(3))
print()

# ìƒì¥ì¼ì´ 2018ë…„ 1ì›” 1ì¼ ì´ì „ì¸ ì¢…ëª©ì½”ë“œ ì„ ë³„ 
start_time = time.time()
lst_code = df_code.loc[df_code['ìƒì¥ì¼'] < '2018-01-01', 'ì¢…ëª©ì½”ë“œ'].to_list()
print("ê±¸ë¦° ì‹œê°„: ", time.time() - start_time)
print()
print('ìƒì¥ì¼ 2018-01-01 ì´ì „ ì¢…ëª©ì½”ë“œ: ', lst_code[:5])
print()
print(f'ì´ {len(df_code)} ê°œì˜ ì¢…ëª© ì¤‘ {len(lst_code)} ê°œì˜ ì¢…ëª© ì„ ë³„')

     íšŒì‚¬ëª…    ì¢…ëª©ì½”ë“œ         ìƒì¥ì¼
0     DL  000210  1976-02-02
1  DRBë™ì¼  004840  1976-05-21
2    DSR  155660  2013-05-15

ê±¸ë¦° ì‹œê°„:  0.0006933212280273438

ìƒì¥ì¼ 2018-01-01 ì´ì „ ì¢…ëª©ì½”ë“œ:  ['000210', '004840', '155660', '078930', '001390']

ì´ 2507 ê°œì˜ ì¢…ëª© ì¤‘ 1977 ê°œì˜ ì¢…ëª© ì„ ë³„

__ê³¼ì œ II__

In [62]:
stock_dict = {}
for code in tqdm(lst_code): 
    stock = fdr.DataReader(code, start='20180101', end='20201231')
    stock['trading'] = stock['Volume'] * stock['Close'] # ê±°ë˜ëŒ€ê¸ˆ ì»¬ëŸ¼ ì¶”ê°€
    
    if sum(stock['trading'] >= 100000000000) >= 1: # ê±°ë˜ëŒ€ê¸ˆì´ 1000ì–µ ì´ìƒì¸ ë°ì´í„°ê°€ í•˜ë‚˜ ì´ìƒ ì¡´ì¬í•˜ë©´
        stock_dict[code] = stock[stock['trading'] >= 100000000000].index 

print(f'ì´ {len(lst_code)} ê°œì˜ ì¢…ëª© ì¤‘ {len(stock_dict)} ê°œì˜ ì¢…ëª© ì‚¬ìš©')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1977/1977 [02:58<00:00, 11.08it/s]

ì´ 1977 ê°œì˜ ì¢…ëª© ì¤‘ 799 ê°œì˜ ì¢…ëª© ì‚¬ìš©

In [63]:
# ì„ ë³„ëœ ì¢…ëª©ê³¼ ë‚ ì§œë¥¼ lst_code_dateì— ë„£ì–´ì¤€ë‹¤. 
lst_code_date = []
for code in tqdm(stock_dict): 
    for date in (stock_dict[code]):
        lst_code_date.append([code, date])
        
print(f'ì„ ë³„ëœ ë‚ ì§œëŠ” ì´ {len(lst_code_date)}ê°œ')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 799/799 [00:00<00:00, 13125.89it/s]

ì„ ë³„ëœ ë‚ ì§œëŠ” ì´ 14182ê°œ

__ê³¼ì œ III__

In [64]:
data_dict = {'code': [], 'd0': [], 'info': [], 'up': []}
for code, date in tqdm(lst_code_date):
    start_date = '20171201' # 2018ë…„ ì´ˆë°˜ ë‚ ì§œê°€ D0ë¼ë©´ 2017ë…„ ë°ì´í„° í•„ìš” (D-9~D-1)
    end_date = '20210130' # 2020ë…„ í›„ë°˜ ë‚ ì§œê°€ D0ë¼ë©´ 2021ë…„ ë°ì´í„° í•„ìš” (D+1) 
    stock = fdr.DataReader(code, start = start_date, end = end_date)
    stock.reset_index(inplace=True) # 'Date' index -> column 
    
    D9_index = stock[stock['Date'] == str(date)].index[0] - 9 # D-9 ë‚ ì§œì˜ ì¸ë±ìŠ¤  
    next_index = stock[stock['Date'] == str(date)].index[0] + 1 # D+1 ë‚ ì§œì˜ ì¸ë±ìŠ¤  
        
    # ì¢…ëª©ì½”ë“œ (code)
    data_dict['code'].append(code) 
    
    # ê¸°ì¤€ì¼ (d0)
    data_dict['d0'].append(date)
    
    # D-9 ~ D+1, ì´ 11ì¼ì¹˜ì˜ sub stock DataFrame ìƒì„± 
    sub_stock = stock.iloc[D9_index:next_index+1]
    sub_stock['trading'] = sub_stock['Close'] * sub_stock['Volume'] # ê±°ë˜ëŒ€ê¸ˆ ì»¬ëŸ¼ ì¶”ê°€ 
   
    
    # 10ì¼ ê°„ì˜ ë°ì´í„° (info)
    info_list = []
    for i in range(10):        
        info_list.append(sub_stock.iloc[i, [1, 2, 3, 4, -1]].to_list())
    remove_list=['[', ']']
    for i in range(2): 
        info_list = f'{info_list}'.replace(remove_list[i], '')
    data_dict['info'].append(info_list)    
        
        
    # D+1 ì¢…ê°€ 2% ìƒìŠ¹ ì—¬ë¶€ (up)
    up = sub_stock.iloc[-2]['Close'] + 0.02 * sub_stock.iloc[-2]['Close']
    
    if sub_stock.iloc[-1]['Close'] >= up: 
        data_dict['up'].append(1)
    else: 
        data_dict['up'].append(0)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 14182/14182 [17:08<00:00, 13.78it/s]

In [65]:
df_result = pd.DataFrame(data_dict)
display(df_result.head()) 

# ìµœì¢… ê²°ê³¼ ë°ì´í„°ì…‹ txt íŒŒì¼ ì €ì¥ 
df_result.to_csv("assignment3.txt")
print(f'ìƒì„±ëœ ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” {len(pd.read_csv("assignment3.txt"))} ê°œ')

     code         d0                                               info  up
0  000210 2018-01-26  78343, 78614, 76987, 77892, 9590608284, 77801,...   0
1  000210 2018-08-08  68855, 69397, 67590, 69036, 6067435968, 69487,...   0
2  000210 2020-04-02  44819, 52951, 44322, 51145, 15615437965, 47439...   0
3  000210 2020-09-11  80783, 84487, 78524, 78524, 61554885076, 79608...   0
4  000210 2020-12-11  76174, 76174, 72289, 72289, 76043112348, 72831...   0

ìƒì„±ëœ ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” 14182 ê°œ

__ê°œì„ í•´ì•¼í•  ì‚¬í•­__
- __`ì†ë„ ê°œì„ `__: __`ê³¼ì œIII`__ ì€ ì•½ 17ë¶„ì´ ê±¸ë¦° ê²ƒì„ ë³´ì•„ ì†ë„ ë©´ì—ì„œ ìƒë‹¹íˆ ë¹„íš¨ìœ¨ì ì´ì—ˆë‹¤ëŠ” ê²ƒì„ ì•Œ ìˆ˜ ìˆë‹¤. (ê±°ë˜ëŒ€ê¸ˆì„ 10ì–µìœ¼ë¡œ ì„¤ì •í–ˆì„ ë•Œ 1% ì§„í–‰ì— 5ë¶„ì´ ê±¸ë ¸ë‹¤. ê·¸ëŸ¼ ì´ 500ë¶„ì´ ê±¸ë¦´ ê²ƒìœ¼ë¡œ ì˜ˆìƒí•  ìˆ˜ ìˆë‹¤.)


- __`# 10ì¼ ê°„ì˜ ë°ì´í„°`__ ë¶€ë¶„: `info_list`ì— ë°ì´í„°ë¥¼ ì¶”ê°€í•˜ëŠ” ê³¼ì •ì—ì„œ ì–µì§€ë¡œ í¬ë§·ì„ ë§ì¶”ê¸° ìœ„í•´ ë¶ˆí•„ìš”í•œ `forë¬¸`ì´ ë“¤ì–´ê°”ë‹¤. 


- __`# D+1 ì¢…ê°€ 2% ìƒìŠ¹ ì—¬ë¶€`__ ë¶€ë¶„: ì „ ë‚  ëŒ€ë¹„ 2% ìƒìŠ¹ìœ¨ì„ ì§ì ‘ ê³„ì‚°í•´ ì£¼ì—ˆëŠ”ë°, ì´ë¯¸ ë³€í™”ìœ¨ì´ ê³„ì‚° ë˜ì–´ ìˆëŠ” `change`ë¼ëŠ” ì»¬ëŸ¼ì„ ì‚¬ìš©í•˜ëŠ” ê²ƒìœ¼ë¡œ ëŒ€ì²´í•œë‹¤. 


- __`txt íŒŒì¼ ì €ì¥`__: `DataFrame`ìœ¼ë¡œ ìƒì„±ì„ í•œ í›„ì— `txt` íŒŒì¼ë¡œ ì €ì¥í–ˆëŠ”ë°, ë°ì´í„° ìƒì„± ì‹œ íŒŒì¼ ì…ì¶œë ¥ `write()`ë¥¼ ì‚¬ìš©í•´ì„œ ë°”ë¡œ `txt` íŒŒì¼ë¡œ  ì €ì¥í•˜ëŠ” ë°©ì‹ìœ¼ë¡œ ë³€ê²½í•œë‹¤.

-------

## âœ”ï¸ (1) Finance Data Readerë¥¼ ì´ìš©í•œ ì£¼ê°€ ë°ì´í„°ì…‹ - `df2list` 
ì²«ë²ˆì§¸ ë°©ë²•ì€ `DataFrame` ì‚¬ìš©ì„ ì§€ì–‘í•˜ê³ , `python`ì˜ ê¸°ë³¸ ë°ì´í„° íƒ€ì…ì¸ `list`ë¡œ ë°”ê¾¸ì–´ ì‚¬ìš©í•˜ëŠ” ë°©ë²•ì´ë‹¤. ì´ë¡œì¨ `column` ì¤‘ì‹¬ì˜ ì—°ì‚°ì„ `row` ì¤‘ì‹¬ì˜ ì—°ì‚°ìœ¼ë¡œ ë°”ê¾¸ì–´ì¤€ë‹¤. ì´ ë°©ë²•ì—ì„œëŠ” ì†ë„ ê°œì„  ë³´ë‹¤ëŠ” `(0)`ë²ˆ ë°©ë²•ì˜ ì½”ë“œì—ì„œ íš¨ìœ¨ì ì´ì§€ ëª»í–ˆë˜ ë¶€ë¶„ì„ ê³ ì¹˜ê³  ê¹”ë”í•œ ì½”ë“œë¡œ ë³´ì™„í•œë‹¤.

__ê³¼ì œ I__

In [3]:
# (0) ë°©ë²•ì—ì„œ ì‚¬ìš©í–ˆë˜ df_code ë°ì´í„° í”„ë ˆì„ ì‚¬ìš© 
display(df_code.head(2))

# ğŸŒŸ dataframe -> list 
lst_stock = df_code.values.tolist()
print(lst_stock[:2])
print()


lst_code = [] # ì„ ë³„ ëœ ì½”ë“œë¥¼ ë‹´ì„ ë¦¬ìŠ¤íŠ¸ 
start_time = time.time()
for row in lst_stock:
    code, date = row[1], row[2]
    if date <= '2018-01-01':
        lst_code.append(code)
print("ê±¸ë¦° ì‹œê°„: ", time.time() - start_time)
print()

        
print('ìƒì¥ì¼ 2018-01-01 ì´ì „ ì¢…ëª©ì½”ë“œ: ', lst_code[:4])
print()
print(f'ì´ {len(df_code)} ê°œì˜ ì¢…ëª© ì¤‘ {len(lst_code)} ê°œì˜ ì¢…ëª© ì„ ë³„')

     íšŒì‚¬ëª…    ì¢…ëª©ì½”ë“œ         ìƒì¥ì¼
0     DL  000210  1976-02-02
1  DRBë™ì¼  004840  1976-05-21

[['DL', '000210', '1976-02-02'], ['DRBë™ì¼', '004840', '1976-05-21']]

ê±¸ë¦° ì‹œê°„:  0.0004284381866455078

ìƒì¥ì¼ 2018-01-01 ì´ì „ ì¢…ëª©ì½”ë“œ:  ['000210', '004840', '155660', '078930']

ì´ 2507 ê°œì˜ ì¢…ëª© ì¤‘ 1977 ê°œì˜ ì¢…ëª© ì„ ë³„

__ê³¼ì œ II__

In [4]:
lst_code_date = []
for code in tqdm(lst_code):
    stock = fdr.DataReader(code, start='20180102', end='20201231')
    stock.reset_index(inplace=True)
    
    # ğŸŒŸ dataframe -> list 
    lst_stock = stock.values.tolist()
    
    for row in lst_stock: 
        date, trading_value = row[0], row[4]*row[5]
        if trading_value >= 100000000000:  # ê±°ë˜ëŒ€ê¸ˆ 1000ì–µ ì´ìƒ
            lst_code_date.append([code, date.date().strftime("%Y%m%d")])
            
print(f'ì„ ë³„ëœ ë‚ ì§œëŠ” ì´ {len(lst_code_date)}ê°œ')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1977/1977 [02:55<00:00, 11.26it/s]

ì„ ë³„ëœ ë‚ ì§œëŠ” ì´ 14182ê°œ

__ê³¼ì œ III__

In [12]:
OF = open('assignment3.txt','w')

for code, date in tqdm(lst_code_date):
    start_date = '20180101' 
    end_date = '20201231' 
    stock = fdr.DataReader(code, start = start_date, end = end_date)
    stock.reset_index(inplace=True) # 'Date' index -> column 
    
    
    # ğŸŒŸ dataframe -> list 
    lst_stock = stock.values.tolist()
    
    
    for idx, row in enumerate(lst_stock): 
        if (idx < 9) or (idx >= len(lst_stock)-1): # ì˜ˆì™¸ ì²˜ë¦¬ 
            continue 
        
        if row[0].date().strftime("%Y%m%d") == date: 
            
            # D-9 ~ D0 ë°ì´í„°ë§Œ ë‹´ê¸°
            sub_stock = lst_stock[idx-9:idx+1]
            
            # 10ì¼ ê°„ì˜ ë°ì´í„° 
            lst_info = []
            for row2 in sub_stock:
                lst_prices, trading_value = row2[1:5], row[4]*row[5]
                lst_info += lst_prices + [trading_value]
                
            info = ','.join(map(str, lst_info))
            
            # D+1 ì¢…ê°€ 2% ìƒìŠ¹ ì—¬ë¶€ (up)
            change = lst_stock[idx+1][6]
            label = int(change >= 0.02)
            
            # ì €ì¥ 
            OF.write(f'{code}\t{date}\t{lst_info}\t{label}\n')
            
OF.close()

print(f'ìƒì„±ëœ ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” {len(pd.read_csv("assignment3.txt"))} ê°œ')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 14182/14182 [17:43<00:00, 13.33it/s]

ìƒì„±ëœ ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” 13939 ê°œ

- `OF.write()`ë¥¼ ì‚¬ìš©í•¨ìœ¼ë¡œì¨ ë¸”í•„ìš”í•œ `DataFrame` ì„ ìƒì„±í•˜ì§€ ì•ŠëŠ”ë‹¤.


- __\# 10ì¼ê°„ì˜ ë°ì´í„°__ ë¶€ë¶„ì€ `join()` í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ë¶ˆí•„ìš”í•œ forë¬¸ ì‚¬ìš©ì„ ì¤„ì˜€ê³ , __\# D+1 ì¢…ê°€ 2% ìƒìŠ¹ ì—¬ë¶€ (up)__ ë¶€ë¶„ì€ ì „ë‚  ëŒ€ë¹„ ì¢…ê°€ ë³€í™”ìœ¨ì„ ê³„ì‚°í•˜ì§€ ì•Šê³  `change` ì»¬ëŸ¼ì„ í™œìš©í•˜ëŠ” ê²ƒìœ¼ë¡œ ë°”ê¾¸ì—ˆë‹¤. 



- __`ì†ë„ì— ëŒ€í•œ ë¬¸ì œì `__ : ì „ ë³´ë‹¤ ê¹”ë”í•œ ì½”ë“œë¡œ ë³´ì™„ì´ ë˜ì—ˆì§€ë§Œ, ì•„ì§ ì†ë„ì— ëŒ€í•œ ë¬¸ì œì ì´ ë‚¨ì•„ìˆë‹¤. ì†ë„ë¥¼ ê°œì„ í•˜ê¸° ìœ„í•´ì„œëŠ” `fdr` ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ìµœì†Œí•œìœ¼ë¡œ ì‚¬ìš©í•´ì•¼ í•œë‹¤. ì´ë¥¼ í•´ê²°í•˜ê¸° ìœ„í•´ `dictionary`ë¥¼ ì‚¬ìš©í•˜ëŠ” ë°©ë²•ìœ¼ë¡œ ë„˜ì–´ê°„ë‹¤.

------------

## âœ”ï¸ (2) Finance Data Readerë¥¼ ì´ìš©í•œ ì£¼ê°€ ë°ì´í„°ì…‹ - `dictionary`

`dictionary`ë¥¼ ì‚¬ìš©í•˜ëŠ” ë°©ë²•ì€ __`ê³¼ì œIII`__ ì˜ ì†ë„ë¥¼ ê°œì„ í•œë‹¤. `fdr` ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ìµœì†Œí•œìœ¼ë¡œ ì‚¬ìš©í•˜ê³ , `for`ë¬¸ì„ ìµœëŒ€í•œ ì¤„ì¸ë‹¤. í˜„ì¬ ë¬¸ì œì ì€ ë‚ ì§œë¥¼ ê¸°ì¤€ìœ¼ë¡œ `for`ë¬¸ì´ ëŒì•„ê°€ê¸° ë•Œë¬¸ì— ê°™ì€ ë°ì´í„°(ê°™ì€ ì¢…ëª©)ê°€ ì—¬ëŸ¬ë²ˆ ë¶ˆëŸ¬ì™€ì§€ëŠ” ê²½ìš°ê°€ ë‹¤ìˆ˜ ì¡´ì¬í•œë‹¤ëŠ” ê²ƒì´ë‹¤. ë”°ë¼ì„œ __`ê³¼ì œII`__ ì—ì„œ `code`ë³„ `D0` ë‚ ì§œ ë¦¬ìŠ¤íŠ¸ë¥¼ `dictionary` íƒ€ì…ìœ¼ë¡œ ìƒì„±í•˜ê³ , __`ê³¼ì œIII`__ ì—ì„œ `code` ë‹¹ í•œë²ˆë§Œ `fdr` ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•˜ë„ë¡ ë°”ê¾¸ì–´ ì¤€ë‹¤.

__ê³¼ì œ I__

__`ê³¼ì œI`__ ì€ ì•ì˜ ë°©ë²•ê³¼ ê°™ìœ¼ë¯€ë¡œ ìƒëµí•œë‹¤.

In [14]:
print('ìƒì¥ì¼ 2018-01-01 ì´ì „ ì¢…ëª©ì½”ë“œ: ', lst_code[:4])
print()
print(f'ì´ {len(df_code)} ê°œì˜ ì¢…ëª© ì¤‘ {len(lst_code)} ê°œì˜ ì¢…ëª© ì„ ë³„')

ìƒì¥ì¼ 2018-01-01 ì´ì „ ì¢…ëª©ì½”ë“œ:  ['000210', '004840', '155660', '078930']

ì´ 2507 ê°œì˜ ì¢…ëª© ì¤‘ 1977 ê°œì˜ ì¢…ëª© ì„ ë³„

__ê³¼ì œ II__

In [15]:
dict_code2date = {}
for code in tqdm(lst_code): 
    start_date = '20180102'
    end_date = '20201231'
    stock = fdr.DataReader(code, start = start_date, end = end_date)
    stock.reset_index(inplace=True)    
    
    # ğŸŒŸ dataframe -> list     
    lst_stock = stock.values.tolist()
    
    for row in lst_stock: 
        date, trading_value = row[0], row[4]*row[5]
        if trading_value >= 100000000000:
            if code not in dict_code2date.keys():
                dict_code2date[code] = [date.date().strftime("%Y%m%d")]
            else:
                dict_code2date[code].append(date.date().strftime("%Y%m%d"))

print(f'ì´ {len(lst_code)} ê°œì˜ ì¢…ëª© ì¤‘ {len(dict_code2date)} ê°œì˜ ì¢…ëª© ì‚¬ìš©')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1977/1977 [02:42<00:00, 12.14it/s]

ì´ 1977 ê°œì˜ ì¢…ëª© ì¤‘ 799 ê°œì˜ ì¢…ëª© ì‚¬ìš©

__ê³¼ì œ III__

In [19]:
OF = open('assignment3.txt', 'w')
for code in tqdm(dict_code2date): 
    # codeì˜ stock 
    start_date = '20180101' 
    end_date = '20201231' 
    stock = fdr.DataReader(code, start = start_date, end = end_date)
    stock.reset_index(inplace=True)
    
    # ğŸŒŸ dataframe -> list     
    lst_stock = stock.values.tolist()  
       
    for idx, row in enumerate(lst_stock):   
        if (idx < 9) or (idx >= len(lst_stock)-1): # ì˜ˆì™¸ ì²˜ë¦¬ 
            continue 
        
        date = row[0].date().strftime("%Y%m%d") 
        if date not in dict_code2date[code]: # ì¡°ê±´ì— ë¶€í•©í•˜ëŠ” ë‚ ì§œ (D0 ë‚ ì§œ)ë¥¼ ë°œê²¬í•  ë•Œê¹Œì§€ continue
            continue 

        # D-9 ~ D0 ë°ì´í„°ë§Œ ë‹´ê¸°
        sub_stock = lst_stock[idx-9:idx+1] 
        
        # 10ì¼ê°„ì˜ ë°ì´í„° 
        lst_info = []
        for row2 in sub_stock:
            lst_prices, trading_value = row2[1:5], row2[4]*row2[5]
            lst_info += lst_prices + [trading_value]
        info = ','.join(map(str, lst_info))

        # D+1 ì¢…ê°€ 2% ìƒìŠ¹ ì—¬ë¶€ 
        label = int(lst_stock[idx+1][6] >= 0.02)

        # ì €ì¥ 
        OF.write(f'{code}\t{date}\t{info}\t{label}\n')
                         
OF.close()   

print(f'ìƒì„±ëœ ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” {len(pd.read_csv("assignment3.txt"))} ê°œ')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 799/799 [01:07<00:00, 11.84it/s]

ìƒì„±ëœ ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” 13939 ê°œ

ì•½ 17ë¶„ì´ ê±¸ë¦¬ë˜ ì‹œê°„ì´ 1ë¶„ìœ¼ë¡œ ì¤„ì–´ë“¤ì—ˆë‹¤.

---------

## âœ”ï¸ (3) Finance Data Readerë¥¼ ì´ìš©í•œ ì£¼ê°€ ë°ì´í„°ì…‹ - `MultiProcessing`

- `multi processing(ë‹¤ì¤‘ ì²˜ë¦¬)`: ì»´í“¨í„° ì‹œìŠ¤í…œ í•œ ëŒ€ì— ë‘ê°œ ì´ìƒì˜ ì¤‘ì•™ ì²˜ë¦¬ ì¥ì¹˜ (CPU) ë¥¼ ì´ìš©í•˜ì—¬ ë³‘ë ¬ì²˜ë¦¬í•˜ëŠ” ê²ƒ 


- `python multi processing` ë¬¸ì„œ: [https://docs.python.org/ko/3/library/multiprocessing.html](https://docs.python.org/ko/3/library/multiprocessing.html).


`python`ì€ `multiprocessing` ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ í†µí•´ ë‹¤ì¤‘ ì²˜ë¦¬ë¥¼ ì§€ì›í•œë‹¤. ì—¬ëŸ¬ ê°œì˜ `ì½”ì–´`ë¥¼ ì—°ì‚°ì— ì‚¬ìš©í•¨ìœ¼ë¡œì¨ ë§ì€ ì‘ì—…ì„ ë¹ ë¥¸ ì‹œê°„ì— ì²˜ë¦¬í•´ì¤„ ìˆ˜ ìˆë‹¤ëŠ” ì¥ì ì´ ìˆë‹¤. 



![image.png](./ghtop_images/multi_processing.png)
[ `core=10`ìœ¼ë¡œ ì„¤ì •í•˜ì—¬ multi processingì„ ìˆ˜í–‰í•  ë•Œ ì½”ì–´ ì‚¬ìš© ]

In [20]:
# MultiProcessingì„ ìœ„í•œ library import 
import time, os
from multiprocessing import Pool

__ê³¼ì œ I__

__`ê³¼ì œI`__ ì€ ì•ì˜ ë°©ë²•ê³¼ ê°™ìœ¼ë¯€ë¡œ ìƒëµí•œë‹¤.

In [21]:
print('ìƒì¥ì¼ 2018-01-01 ì´ì „ ì¢…ëª©ì½”ë“œ: ', lst_code[:4])
print()
print(f'ì´ {len(df_code)} ê°œì˜ ì¢…ëª© ì¤‘ {len(lst_code)} ê°œì˜ ì¢…ëª© ì„ ë³„')

ìƒì¥ì¼ 2018-01-01 ì´ì „ ì¢…ëª©ì½”ë“œ:  ['000210', '004840', '155660', '078930']

ì´ 2507 ê°œì˜ ì¢…ëª© ì¤‘ 1977 ê°œì˜ ì¢…ëª© ì„ ë³„

__ê³¼ì œ II__

- `multi processing`ì„ ìœ„í•œ í•¨ìˆ˜ ì •ì˜

In [22]:
def make_lst_result(code): 
    start_date = '20180101'
    end_date = '20201231'
    
    lst_date = []
    
    stock = fdr.DataReader(code, start = start_date, end = end_date)
    stock.reset_index(inplace=True)
  
    # ğŸŒŸ dataframe -> list
    lst_stock = stock.values.tolist()
    
    for row in lst_stock: 
        if row[4] * row[5] >= 100000000000: 
            lst_date.append(row[0].date().strftime("%Y%m%d"))
        
    return [code, lst_date]

- `multi processing` ìˆ˜í–‰

In [23]:
start_time = time.time()
num_cores = 10
pool = Pool(num_cores)
lst_code_date = pool.map(make_lst_result, lst_code)
pool.close()
pool.join()
print(time.time() - start_time)

17.97966194152832

ì•ì„œ ì•½ 2ë¶„ 40ì´ˆ ê°€ ê±¸ë ¸ë˜ __`ê³¼ì œII`__ ë¥¼ `multi processing`ì„ ì‚¬ìš©í•˜ì—¬ 17ì´ˆëŒ€ë¡œ ë‹¨ì¶•ì‹œì¼°ë‹¤.

- `dictionary` ìƒì„±

In [24]:
dict_code2date = {}

for code, lst_date  in tqdm(lst_code_date):
    if lst_date == []:
        continue
    dict_code2date[code] = lst_date
            
print(f'ì´ {len(lst_code)} ê°œì˜ ì¢…ëª© ì¤‘ {len(dict_code2date)} ê°œì˜ ì¢…ëª© ì‚¬ìš©')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1977/1977 [00:00<00:00, 1610124.08it/s]

ì´ 1977 ê°œì˜ ì¢…ëª© ì¤‘ 799 ê°œì˜ ì¢…ëª© ì‚¬ìš©

__ê³¼ì œ III__

- `multi processing`ì„ ìœ„í•œ í•¨ìˆ˜ ì •ì˜

In [25]:
def make_lst_result2(code): 
    # codeì˜ stock 
    start_date = '20180101' 
    end_date = '20201231' 
    stock = fdr.DataReader(code, start = start_date, end = end_date)
    stock.reset_index(inplace=True)
    
    # ğŸŒŸ dataframe -> list     
    lst_stock = stock.values.tolist()  
       
    lst_result = []
        
    for idx, row in enumerate(lst_stock): 
        
        if (idx < 9) or (idx >= len(lst_stock)-1): # ì˜ˆì™¸ ì²˜ë¦¬ 
            continue 
            
        date = row[0].date().strftime("%Y%m%d") 
        if date not in dict_code2date[code]: # ì¡°ê±´ì— ë¶€í•©í•˜ëŠ” ë‚ ì§œ (D0 ë‚ ì§œ)ë¥¼ ë°œê²¬í•  ë•Œê¹Œì§€ continue
            continue 

        # D-9 ~ D0 ë°ì´í„°ë§Œ ë‹´ê¸°
        sub_stock = lst_stock[idx-9:idx+1] 
        
        # 10ì¼ê°„ì˜ ë°ì´í„° 
        lst_info = []
        for row2 in sub_stock:
            lst_prices, trading_value = row2[1:5], row2[4]*row2[5]
            lst_info += lst_prices + [trading_value]
        info = ','.join(map(str, lst_info))

        # D+1 ì¢…ê°€ 2% ìƒìŠ¹ ì—¬ë¶€ 
        label = int(lst_stock[idx+1][6] >= 0.02)
        
        lst_result.append([code, date, info, label])
        
    return lst_result

- `multi processing` ìˆ˜í–‰

In [26]:
start_time = time.time()
num_cores = 10
pool = Pool(num_cores)
lst_data = pool.map(make_lst_result2, dict_code2date.keys())
pool.close()
pool.join()
print(time.time() - start_time)

8.186521768569946

ì•ì„œ ì§„í–‰í–ˆë˜ ë°©ë²•ì—ì„œ 1ë¶„ì´ ê±¸ë ¸ë˜ ì‘ì—…ì´ `multi processing`ì„ í†µí•˜ì—¬ 8ì´ˆë¡œ ì¤„ì–´ë“¤ì—ˆë‹¤.

- `txt` íŒŒì¼ ìƒì„±

In [28]:
OF = open("assignment3_multi_processing.txt", 'w')

for row in lst_data: 
    for num in range(len(row)): 
        OF.write('\t'.join(map(str, row[num])) + '\n')
        
OF.close()

print(f'ìƒì„±ëœ ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” {len(pd.read_csv("assignment3_multi_processing.txt"))} ê°œ')

ìƒì„±ëœ ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” 13939 ê°œ

-----------

### âœ”ï¸ __(4)__ Finance Data Readerë¥¼ ì´ìš©í•œ ì£¼ê°€ ë°ì´í„°ì…‹ - `MySQL`

4ë²ˆì§¸ ë°©ë²•ì€ `MySQL`ì„ ì‚¬ìš©í•œë‹¤. ì™¸ë¶€ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ì§€ ì•Šì•„ë„ ë˜ê³ , ì„œë²„ `DB`ì— ì €ì¥ëœ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ëŠ” ê²ƒì´ë¯€ë¡œ `multi processing`ì„ ì‚¬ìš©í•˜ì§€ ì•Šê³ ë„ ë¹ ë¥¸ ì†ë„ë¡œ ë°ì´í„°ì…‹ì„ ìƒì„±í•  ìˆ˜ ìˆë‹¤.

__ê³¼ì œ I__

ìµœì¢…ì ìœ¼ë¡œ ë¨¸ì‹ ëŸ¬ë‹ ë¶„ì„ì— ì‚¬ìš©í•  ë°ì´í„°ì…‹ì€ ì½”ìŠ¤í”¼, ì½”ìŠ¤ë‹¥ ì‹œì¥ì— í•´ë‹¹í•˜ëŠ” ì¢…ëª©ë“¤ë§Œì„ ì‚¬ìš©í•œë‹¤. í˜„ì¬ `db`ì— ì €ì¥ë˜ì–´ ìˆëŠ” ë°ì´í„°ë„ ì½”ìŠ¤í”¼, ì½”ìŠ¤ë‹¥ ì‹œì¥ì— í•´ë‹¹í•˜ëŠ” ì¢…ëª©ë“¤ì´ ì…ë ¥ë˜ì–´ ìˆìœ¼ë©°, í•´ë‹¹ ì¢…ëª©ë“¤ì„ ì¶”ë¦° `code_list.txt`ì—ì„œ ì¢…ëª©ë“¤ì„ ë¶ˆëŸ¬ì™€ `lst_code`ë¥¼ ì‚¬ìš©í•œë‹¤.

In [51]:
IF = open('../data/code_list.txt')
lst_code = IF.readlines()

print(f'ì´ {len(df_code)} ê°œì˜ ì¢…ëª© ì¤‘ {len(lst_code)} ê°œì˜ ì¢…ëª© ì„ ë³„')

ì´ 2507 ê°œì˜ ì¢…ëª© ì¤‘ 1561 ê°œì˜ ì¢…ëª© ì„ ë³„

In [13]:
# pymysql ì„¤ì¹˜
# ! pip install pymysql

import pymysql 
from sqlalchemy import create_engine

- __`MySQL` ë°ì´í„° ì €ì¥__ (`dataframe` -> `sql`) <br>


`code` ë³„ë¡œ ë‹¤ë¥¸ í…Œì´ë¸”ì— ì €ì¥í•œë‹¤.

In [ ]:
db_connection_str = 'mysql+pymysql://[db username]:[db password]@[host address]/[db name]' 
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

for code in tqdm(lst_code): 
    start_date = '20170101'
    end_date = '20211231'
    stock = fdr.DataReader(code, start = start_date, end = end_date)
    stock = stock.reset_index()
    stock = stock[['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Change']]
    stock.to_sql(name=f'stock_{code}', con=db_connection, if_exists='fail', index=False)

- __`MySQL` ì—ì„œ ë°ì´í„° ë¶ˆëŸ¬ì˜¨ í›„ ë°ì´í„°ì…‹ ìƒì„±__

In [ ]:
db_dsml = pymysql.connect(
    host = 'localhost', 
    port = 3306, 
    user = '[db username]', 
    passwd = '[db password]', 
    db = '[db name]', 
    charset = 'utf8'
)
cursor = db_dsml.cursor()

__ê³¼ì œ II__

In [49]:
dict_code2date = {}
for code in tqdm(lst_code): 
    code = code.strip()
    sql_query = '''
                SELECT *
                FROM stock_{}
                WHERE Date BETWEEN '2018-01-01' AND '2020-12-31'
                '''.format(code)
    stock = pd.read_sql(sql = sql_query, con = db_dsml)   
    
    # ğŸŒŸ dataframe -> list     
    lst_stock = stock.values.tolist()
    
    for row in lst_stock: 
        date, trading_value = row[0], row[4]*row[5]
        if trading_value >= 100000000000:
            if code not in dict_code2date.keys():
                dict_code2date[code] = [date.date().strftime("%Y%m%d")]
            else:
                dict_code2date[code].append(date.date().strftime("%Y%m%d"))

print(f'ì´ {len(lst_code)} ê°œì˜ ì¢…ëª© ì¤‘ {len(dict_code2date)} ê°œì˜ ì¢…ëª© ì‚¬ìš©')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1561/1561 [00:22<00:00, 69.07it/s]

ì´ 1561 ê°œì˜ ì¢…ëª© ì¤‘ 679 ê°œì˜ ì¢…ëª© ì‚¬ìš©

__ê³¼ì œ III__

In [57]:
OF = open('assignment3_sql.txt', 'w')
for code in tqdm(dict_code2date): 
    code = code.strip()
    sql_query = '''
                SELECT *
                FROM stock_{}
                WHERE Date BETWEEN '2018-01-01' AND '2020-12-31'
                '''.format(code)
    stock = pd.read_sql(sql = sql_query, con = db_dsml)  
    
    # ğŸŒŸ dataframe -> list     
    lst_stock = stock.values.tolist()  
       
    for idx, row in enumerate(lst_stock):   
        if (idx < 9) or (idx >= len(lst_stock)-1): # ì˜ˆì™¸ ì²˜ë¦¬ 
            continue 
        
        date = row[0].date().strftime("%Y%m%d") 
        if date not in dict_code2date[code]: # ì¡°ê±´ì— ë¶€í•©í•˜ëŠ” ë‚ ì§œ (D0 ë‚ ì§œ)ë¥¼ ë°œê²¬í•  ë•Œê¹Œì§€ continue
            continue 

        # D-9 ~ D0 ë°ì´í„°ë§Œ ë‹´ê¸°
        sub_stock = lst_stock[idx-9:idx+1] 
        
        # 10ì¼ê°„ì˜ ë°ì´í„° 
        lst_info = []
        for row2 in sub_stock:
            lst_prices, trading_value = row2[1:5], row2[4]*row2[5]
            lst_info += lst_prices + [trading_value]
        info = ','.join(map(str, lst_info))

        # D+1 ì¢…ê°€ 2% ìƒìŠ¹ ì—¬ë¶€ 
        label = int(lst_stock[idx+1][6] >= 0.02)

        # ì €ì¥ 
        OF.write(f'{code}\t{date}\t{info}\t{label}\n')
                         
OF.close()   

print(f'ìƒì„±ëœ ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” {len(pd.read_csv("assignment3_sql.txt"))} ê°œ')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 679/679 [00:11<00:00, 61.46it/s]

ìƒì„±ëœ ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” 11934 ê°œ

----------

### âœ”ï¸ __(5)__ ìµœì¢… ë¨¸ì‹ ëŸ¬ë‹ ë°ì´í„°ì…‹ 
ìµœì¢…ì ìœ¼ë¡œ ìƒì„±ëœ ë¨¸ì‹ ëŸ¬ë‹ ë°ì´í„°ì…‹ì˜ í˜•íƒœë¥¼ í™•ì¸í•œë‹¤.

In [63]:
IF=open("assignment3_sql.txt",'r')
lst_code_date=[]
trainX=[]
trainY=[]
for line in IF:
    code, date, x, y = line.strip().split("\t")
    lst_code_date.append([code, date])
    trainX.append(list(map(int, x.split(","))))
    trainY.append(int(y))
trainX=pd.DataFrame(trainX)
trainY=pd.DataFrame(trainY)

In [70]:
print("===== trainX =====")
print("trainX shape:", trainX.shape)
display(trainX.head())
print()
print("===== trainY =====")
print("trainY shape:", trainY.shape)
display(trainY.head())

===== trainX =====
trainX shape: (11935, 50)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,10250,12050,10150,11800,307823874200,11950,12450,10900,11750,240410569500,...,15300,15400,12650,13700,789063638200,13700,16100,13400,15400,897154258000
1,11950,12450,10900,11750,240410569500,11850,14150,11600,12600,764364560400,...,13700,16100,13400,15400,897154258000,14700,15500,14000,14350,277027065700
2,11850,14150,11600,12600,764364560400,12800,13200,12000,12200,170010147600,...,14700,15500,14000,14350,277027065700,13050,13300,11650,11650,231873876050
3,12800,13200,12000,12200,170010147600,12450,13400,12350,12850,211661434950,...,13050,13300,11650,11650,231873876050,12200,13150,11600,12200,222393934200
4,12450,13400,12350,12850,211661434950,12800,12950,11300,11700,91801277100,...,12200,13150,11600,12200,222393934200,12200,13750,12100,12350,256196958550

===== trainY =====
trainY shape: (11935, 1)

   0
0  0
1  0
2  1
3  0
4  1

- `kospi` + `kosdaq` ì£¼ì‹ ì‹œì¥, `3ë…„` ì´ìƒ ì¡´ì†í•˜ì˜€ë˜ ì¢…ëª©ë“¤ì„ ê±°ë˜ëŒ€ê¸ˆ `1000ì–µ` ì´ìƒì˜ ì¡°ê±´ìœ¼ë¡œ ì„¤ì •í•˜ê³ , `10ì¼` ê°„ì˜ ë°ì´í„°ë“¤ì„ `feature`ë¡œ ë‘ì–´ ìƒì„±í•œ ìµœì¢… ë¨¸ì‹ ëŸ¬ë‹ ë°ì´í„°ì…‹ì€ `11935` X `50` ì˜ í¬ê¸°ê°€ ë‚˜ì™”ë‹¤.

----------

4ë‹¨ê³„ì˜ ê³¼ì •ì„ ê±°ì³ ë¨¸ì‹ ëŸ¬ë‹ ë°ì´í„°ì…‹ ìƒì„±ì„ ë§ˆì³¤ë‹¤. ë‹¤ìŒ ê¸€ì—ì„œëŠ” ìƒì„±ëœ ë¨¸ì‹ ëŸ¬ë‹ ë°ì´í„°ì…‹ì„ ì‚¬ìš©í•˜ì—¬ ì—¬ëŸ¬ ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ì„ í•™ìŠµ ë° í‰ê°€í•˜ì—¬ ì„±ëŠ¥ì´ ê°€ì¥ ì¢‹ì€ ëª¨ë¸ì„ ì„ ì •í•˜ëŠ” `baseline model selection`ì„ ì§„í–‰í•œë‹¤.